
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", serif;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: hsl(0, 100%, 74%);
  font-family: "Poppins", serif;
}

p { font-size: 1.2rem; font-weight: 500; }

input {
  border-style: groove;
  color: white;
  padding: 1rem;
  padding-left: 2rem;
  border-color: lightgrey;
  border-radius: 0.2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: 600;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 25rem;
  background-size: 2rem;
  background-color:hsl(0, 100%, 74%)

}

input[type="text"], input[type="password"], input[type="email"] {
  background-color: white;
  color: black;
}

input:focus {

  outline: black;
}

/* input:invalid:focus {
  border: 2px solid hsl(0, 100%, 74%);
} */

svg {
  color: hsl(0, 100%, 74%);
}

h1 {
  font-weight: bold 700;
  font-size: 3.3rem;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.attribution { font-size: 14px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


